ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.collection-item {
  //background-color: #a56d3b;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.collection.answer{
  border: none;

}
