<!--<button type="button" (click)="getQuiz()"-->
<!--        class="list-group-item list-group-item-action list-group-item-success text-center">-->
<!--</button>-->
<div>
  <label><b>Name:</b> </label> {{quiz.startTime}}
</div>
<div>
  <label><b>Id:</b></label> {{quiz.questionList}}
</div>
<div>
  <label><b>deskrypszyn</b></label> {{quiz.questionList[1].description}}
</div>
<div class="row" *ngIf="quiz">
  <div class="col s8 offset-s2">

    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{quizProgress+1}}</span>
        <p>{{quiz.questionList[quizProgress].description}}</p>
      </div>
      <div class="card-action">
        <ng-container *ngFor="let answer of quiz.questionList[quizProgress].wrongAnswers; let i = index">
          <li *ngIf="answer != null" class="collection-item">
            {{answer.text}}
          </li>
        </ng-container>
      </div>
    </div>
  </div>
</div>
