<!--<nav>-->
<!--  <div class="nav-wrapper">-->
<!--    <a href="#!" class="brand-logo left">PRZY100</a>-->
<!--    <ul class="right hide-on-med-and-down">-->
<!--      <li><a [routerLink]="'quiz'"><i class="material-icons left">play_circle_filled</i>Start Quiz</a></li>-->
<!--      <li><a [routerLink]="'highscores'"><i class="material-icons right">view_module</i>Highscores</a></li>-->
<!--      <li><a href="highscores"><i class="fas fa-clipboard-check"></i>Highscores</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <div>LINE</div>-->
<!--</nav>-->

<body>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="'quiz'"><i class="material-icons left">play_circle_filled</i>Start Quiz</a></li>
      <li><a [routerLink]="'highscores'"><i class="material-icons right">view_module</i>Highscores</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a [routerLink]="'quiz'"><i class="material-icons left">play_circle_filled</i>Start Quiz</a></li>
  <li><a [routerLink]="'highscores'"><i class="material-icons right">view_module</i>Highscores</a></li>
</ul>
</body>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems, options);
  });
</script>
