<div class="header">
  <a [routerLink]="'/'"><div class="logo"><i class="fas fa-cogs"></i>Mechanical Manager</div></a>
  <input type="checkbox" id="chk">
  <label for="chk" class="show-menu-btn">
    <i class="fas fa-ellipsis-h"></i>
  </label>

  <div class="menu">
    <a [routerLink]="">Home</a>
    <a [routerLink]="'about'">About application</a>
    <a [routerLink]="'about'">Login to application</a>
    <label for="chk" class="hide-menu-btn">
      <i class="fas  a-times"></i>
    </label>
  </div>
</div>
